/*
PROJETO WEB HE110 W0R1D_

Paleta:
-- verde(accent) : #73C990
-- fundo-dark    : #141414
-- semi-dark-bg  : #212B2B

*/
/* ----------- Corpo ----------- */
body {
  background-color: #141414;
  font-family: sans-serif;
}

/*Definição de cor botão BS*/
.btn-outline-dark:hover, .btn-outline-dark:active, .btn-outline-dark:visited {
  background-color: #212B2B;
  color: #73C990;
  border-color: #212B2B;
}

/* ----------- Barra de Navegação ----------- */
.navbar {
  color: #73C990;
}
@media screen and (min-width: 1428px){
  .navbar{
    margin:0 10%;
  }
}
/*Menu de queda e itens*/
.dropdown-menu {
  background-color: #141414;
}

.dropdown-item {
  color: #73C990;
}

.dropdown-item:hover {
  background-color: #212B2B;
  color: #fff;
}

/*Logo*/
#logo, #marca-nav {
  height: 2.5rem;
}
@media screen and (max-width: 376px){
  #logo{
    display: none;
  }
}

/*Botão pesquisa*/
.btn-search {
  border-color: #73C990;
  color: #73C990;
}

/*Botão Expandir Menu Responsivo*/
.custom-toggler.navbar-toggler {
  border-color: rgba(115, 201, 144, 0.8);
}
.custom-toggler .navbar-toggler-icon{
  background-image: url(
"data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(115, 201, 144, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/* ----------- Rodapé ----------- */
.github {
  height: 2rem;
  object-fit: contain;
}

.footer-logo {
  text-align: left;
}

#botao-git {
  margin-bottom: 1em;
}

footer {
  color: #73C990;
}

footer div {
  align-items: center;
  text-align: right;
}

@media screen and (max-width: 600px){
  footer div, .footer-logo {
    text-align: center;
  }
}
