/*
PROJETO WEB HE110 W0R1D_

Paleta:
-- verde(accent) : #73C990
-- fundo-dark    : #141414
-- semi-dark-bg  : #212B2B

*/
/*definição de cor botão do Bootstrap*/
.btn-outline-dark:hover,
.btn-outline-dark:active,
.btn-outline-dark:visited {
  color: #73C990;
  background-color: #212B2B;
  border-color: #212B2B;
}

/* ----------- barra de navegação ----------- */
.navbar {
  color: #73C990;
}

/*menu de queda e itens*/
.dropdown-menu {
  background-color: #141414;
}

.dropdown-item,
.nav-link {
  color: #73C990;
}

.dropdown-item:hover {
  background-color: #212B2B;
  color: #fff;
}

.nav-link:hover {
  color: #fff;
}

/*logo*/
#logo,
#marca-nav {
  height: 2.5rem;
}

/*botão pesquisa*/
.btn-search {
  border-color: #73C990;
  color: #73C990;
}

/*botão hamburguer*/
.navbar-toggler {
  border-color: rgba(115, 201, 144, 0.8);
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(115, 201, 144, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/* ----------- corpo ----------- */
body {
  background-color: #141414;
  font-family: sans-serif;
  color: #fff;
}
/*----------- conteudo -----------*/

/*fluxograma*/
.fluxograma {
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  align-self: center;
}

.fluxograma-wrapper {
  align-items: left;
  justify-content: left;
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-left: 1rem;
}

/*titulo da pagina*/
h1 {
  color: #73C990;
  font-weight: bold;
  text-align: center;
  margin: 3.6rem;
  font-size: 3.6rem;
}

/*titulo da seção*/
h2 {
  color: #fff;
  font-weight: bold;
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2.125rem;
  background-color: #212B2B;
  padding: 0.6rem;
  border-radius: 0.4rem;
  border: #73C990 1px solid;
}

/*titulo da postagem*/
h3 {
  color: #fff;
  text-align: center;
  margin: 1rem;
  font-weight: bold;
}

/*margem bottom*/
.mb {
  margin-bottom: 2rem;
}

/*margem top*/
.mt {
  margin-top: 3rem;
}

/*botoa link externo*/
.btn-link {
  border-color: #73C990;
  color: #73C990;
  font-weight: bold;

}

.btn-link:hover,
a:hover {
  text-decoration: none;
}
.btn-editor{
  display: flex;
  float: right;
  margin-bottom: 0;

}
/*classes de decoração*/
.negrito {
  font-weight: bold;
}

.accent,
a {
  color: #73C990;
}

.justificar {
  text-align: justify;
}

.italic {
  font-style: italic;
}

.thin {
  font-weight: lighter;
}

/*tamanho do vídeo de seção*/
iframe {
  width: 100% !important;
  height: 315px !important;
}
/*Prática*/
.table{
    text-align:center;
}
/*Podcasts*/
.card {
    height:33rem;
}
.card-body {
    background-color: #212B2B;
    width: 100%;
    text-align: left;
    overflow: auto;
 
}
.card-title {
    text-align: center;
    color: #73C990;
    font-weight: bold;
}
.btn-primary {
    background-color: #141414;
    color: #73C990;
    border-color: #141414;
  
   
}
.card-text {
    color: #fff;
}

.card-img-top {
    width:100%;
    height: 10rem;
    
   
}

.list-title {
    color: #73C990;
    font-weight: bold;
    margin-top: 2rem;
}
.list-group-item-action {
   
    background-color: #141414;
    color: #fff;
}


/* ----------- rodapé ----------- */

/*botão github footer*/
.github {
  height: 2rem;
  object-fit: contain;
}

/*logo projeto*/
.footer-logo {
  text-align: left;
}

/*margem botão github*/
#botao-git {
  margin-bottom: 1rem;
}

/*footer direita e cor*/
footer div,
#copyright {
  align-items: center;
  text-align: right;
  color: #73C990;
}

/*ajuste de responsividade*/
@media screen and (max-width: 600px) {

  footer div,
  .footer-logo,
  #copyright {
    text-align: center;
  }
}

@media screen and (max-width: 376px) {
  #logo {
    display: none;
  }
}

@media screen and (min-width: 1428px) {
  .navbar {
    margin: 0 10%;
  }
}

.btn-carousel {
  color: #fff;
  font-weight: bold;
  text-align: center;
  margin-bottom: 2rem;
  background-color: #141414;
  padding: 0.6rem;
  border-radius: 0.4rem;
  border: #73C990 1px solid;
  color:rgba(115, 201, 144, 0.8);
  

}

.botao-ver-noticias {
  margin-bottom: 2rem;
  background-color: #141414;
  padding: 0.6rem;
  border-radius: 0.4rem;
  border: #73C990 1px solid;
  color:rgba(115, 201, 144, 0.8);
  
}

.box-quem-somos {
  font-weight: bold;
  text-align: center;
  margin-bottom: 2rem;
  padding: 0.6rem;
  border-radius: 0.4rem;
  border: #73C990 1px solid;
}
/* ----------- news ----------- */

.ct-news {
  margin-bottom: 30px;
}
.ct-news .inner {
  padding: 10px;
  transition: all 0.2s ease-in-out 0s;
  cursor: pointer;
  height: 100%;
}
.ct-news .fauxcrop {
  height: 180px;
  overflow: hidden;
}
.ct-news .fauxcrop img {
  width: 100%;
}
.ct-news-content {
  display: table;
  padding: 30px 0 28px;
}
.ct-news-content .ct-news-date {
  border-right: 1px solid #95A5A6;
  display: table-cell;
  font-family: "Lato", sans-serif;
  padding: 0px 18px 0px 15px;
  text-align: center;
}
.ct-news-content .ct-news-date span {
  font-size: 16px;
  color: #73C990;
  font-weight: 700;
  display: block;
  line-height: 1;
}
.ct-news-content .ct-news-date strong {
  font-size: 25px;
  color: #73C990;
}
.ct-news-content .ct-news-header {
  color: #73C990;
  display: table-cell;
  font-size: 22px;
  font-weight: 700;
  letter-spacing: -0.2px;
  line-height: 1.1;
  padding: 0 20px;
  vertical-align: top;
}
