/*
PROJETO WEB HE110 W0R1D_

Paleta:
-- verde(accent) : #73C990
-- fundo-dark    : #141414
-- semi-dark-bg  : #212B2B

*/
/*definição de cor botão do Bootstrap*/
.btn-outline-dark:hover,
.btn-outline-dark:active,
.btn-outline-dark:visited {
  color: #73C990;
  background-color: #212B2B;
  border-color: #212B2B;
}

/* ----------- barra de navegação ----------- */
.navbar {
  color: #73C990;
}

/*menu de queda e itens*/
.dropdown-menu {
  background-color: #141414;
}
.dropdown-item,
.nav-link {
  color: #73C990;
}
.dropdown-item:hover {
  background-color: #212B2B;
  color: #fff;
}
.nav-link:hover {
  color: #fff;
}

/*logo*/
#logo,
#marca-nav {
  height: 2.5rem;
}

/*botão pesquisa*/
.btn-search {
  border-color: #73C990;
  color: #73C990;
}

/*botão hamburguer*/
.navbar-toggler {
  border-color: rgba(115, 201, 144, 0.8);
}
.navbar-toggler-icon {
  background-image: url(
"data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(115, 201, 144, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/* ----------- corpo ----------- */
body {
  background-color:  #fff;
  font-family: sans-serif;
}
/*----------- conteudo -----------*/

/*titulo da pagina*/
h1 {
  color: #73C990;
  font-weight: bold;
  text-align: center;
  margin: 3.6rem;
  font-size: 3.6rem;
}

/*titulo da seção*/
h2 {
  color: #fff;
  font-weight: bold;
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2.125rem;
}

/*titulo da postagem*/
h3 {
  color: #fff;
  font-weight: bold;
  text-align: center;
  margin: 1rem;
}

/* ----------- rodapé ----------- */

/*botão github footer*/
.github {
  height: 2rem;
  object-fit: contain;
}

/*logo projeto*/
.footer-logo {
  text-align: left;
}

/*margem botão github*/
#botao-git {
  margin-bottom: 1rem;
}

/*footer direita e cor*/
footer div,
#copyright {
  align-items: center;
  text-align: right;
  color: #73C990;
}

/*ajuste de responsividade*/
@media screen and (max-width: 600px){
  footer div, .footer-logo, #copyright {
    text-align: center;
  }
}
@media screen and (max-width: 376px){
  #logo{
    display: none;
  }
}
@media screen and (min-width: 1428px){
  .navbar{
    margin:0 10%;
  }
}
